.header {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Cinzel, Arial, Helvetica, sans-serif;
}

.header-logo {
  max-width: 400px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.header-menu a {
  text-decoration: none;
  color: #fff;
}

.header-menu ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
