.sobre {
  max-width: 1200px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.info-sobre {
  position: relative;
}
.info-sobre img {
  padding-bottom: 40px;
}

.txt-sobre {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  max-width: 40ch;
  color: #666;
  padding-bottom: 12px;
}

.subtitulo-sobre {
  font-family: Cinzel, Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-top: 40px;
}

.subtitulo-sobre strong {
  font-weight: 700;
  color: #ffb400;
}

.info-sobre-atendimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  padding-top: 20px;
}

.info-sobre-atendimento img {
  position: absolute;
  left: -28px;
}
